.vscode/targets.log
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/sftp.json
*.out
*.o
*.s
*.d
*.errors
*.output
*.result
*.bin
*.dsk
threads/build/Makefile
activate
utils/pintos-mkdisk
utils/pintos
utils/backtrace
tests/make-grade
userprog/build